body{
	margin:0px;
}
section{
	height:auto;
	min-height: 400px;		
	width:100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
section:nth-child(odd){
	background-color: rgb(230,230,230);
}
.text-centre{
	text-align: center;
}


/*HEADER*/
#header{
	background-image: url(https://ninjasfiles.s3.amazonaws.com/asset_0000000000000020_1549743985_macbook_mouse.jpg);
	height: 70vh;
	position: relative;
	opacity:0.8;
	background-size:cover;
	background-position: center;
	background-attachment: fixed;
}


/*Horizontal list*/
.horizontal-list{
	margin-left: -12%;
}
.horizontal-list li {
list-style-type: none;
display: inline-block;
margin-top:2%;
padding: 2px 1rem;
font-family:arial;
font-size: 19px;
}
.horizontal-list a{
	color:white;
	text-decoration: none;
	transition:color 0.5s;
}
.horizontal-list a:hover{
	color:dimgrey;
	text-decoration: underline;
}


/*header heading*/
#header-heading{
	color:white;
	margin-top:20px;
	font-size:1.5rem;
	font-family:Times New Roman ;
	letter-spacing: 0.3rem;
}


/*social links*/
#social-links i{
color:white;
padding: 1rem;
margin-top:-1rem;
transition: 0.7s;
border-radius: 50%;
}
#social-links i:hover{
box-shadow: 0px 0px 6px 4px  darkgrey;
}


/*about image*/
#header-image{
	height: 200px;
	width: 200px;
	position: absolute;
	background-image: url(My\ image.jpg);
	background-size: contain;
	background-position: center;
	background-repeat:repeat-x;
	border:5px solid white;
	margin: auto;
	margin-top: -75px;
	border-radius: 50%;
	box-shadow: 1px 1px 10px 4px  lightgrey;
}


/*about para*/
#about-para{
	font-family: serif;
	font-size: 1.5rem;
	color:grey;
	text-align:center;
	margin:12rem 3rem 1rem 3rem;
}


/*common heading for each section*/
.section-heading{
font-size: 2rem;
font-family:arial ;
font-weight: bold;
color :#001a4d;
margin-top: -5px;
letter-spacing: 1px;
text-shadow: 5px 5px 4px grey;
}


/*Skills section*/
#skill-tags{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
}
#skill-tags>div{
	height :2.2rem;
	width:11rem;
	border: 1px black solid;
	margin: 23px;
	background-color: white;
	border-radius: 50px;
	color:white;
	overflow: hidden;
	box-shadow: 1px 1px 2px 1px #b9b9b9 inset;
}
#skill-progress{
	border-bottom-left-radius:50px;
	border-top-left-radius:50px;
	height: inherit;
	padding-left: 10px;
	padding-top: 7px;
	text-align: start;
	font-size: 1.2rem;
	box-shadow:5px 0px 5px #888888 ;
}


/*percentage classes*/
.fiftyfive-percent{
	width: 55%;
	background-color:#618685 
}
.seventy-percent{
	width: 70%;
	background-color:#92a8d1; 
}
.seventyfive-percent{
	width: 75%;
	background-color:#4040a1; 
}
.sixty-percent{
	width: 60%;
	background-color:#36486b; 
}
.sixtyfive-percent{
	width: 65%;
	background-color:#4d4dff; 
}
.fourty-percent{
	width: 40%;
	background-color: #034f84;
}


/*Education section*/
#education-section{
	position: relative;
	width: 100%;

}
.education-box{
position:relative;
min-height: 110px;
width: 30%;
margin: 1%;
left:16%;
text-align: left;
}
.education-box:nth-child(2n+1){
left:52%;
}
.education-box:nth-child(2n+1)::after{
	height: 13px;
	width: 13px;
	border-radius: 50%;
	background-color: #001a4d ;
	position: absolute;
	z-index: 1;
	content: '';
	left:-3.5vw;
	top: 40%;
}
.education-box:nth-child(2n)::after{
	height: 13px;
	width: 13px;
	border-radius: 50%;
	background-color: #001a4d ;
	position: absolute;
	z-index: 1;
	content: '';
	right:-3.5vw;
	top: 40%;
}
#timeline{
	height: 75%;
	width: 0px;
	border: 1px grey dashed;
	position: absolute;
	margin-top: 5%;
	left:50%;
	z-index:- 1;
}
@media screen and (max-width:800px){
	#timeline{
		top: 6%;
	}
	.education-box:nth-child(2n+1)::after{
		left:-4vw;
	}
	.education-box:nth-child(2n)::after{
		right:-4vw;
	}	
}
@media screen and (max-width:600px){
	#timeline{
		left:9%;
		top: 6%;
	}
	.education-box{
		position:relative;
		width: 75%;
	}
	.education-box:nth-child(2n+1){
		left:16%;
	}
	.education-box:nth-child(2n+1)::after{
		left:-9.2vw;
	}
	.education-box:nth-child(2n)::after{
		right:79vw;
	}	
}
@media screen and (max-width:400px){
	#timeline{
		left:10%;
		top: 9%;
	}
	.education-box{
		position:relative;
		width: 75%;
	}
	.education-box:nth-child(2n+1){
		left:16%;
	}
	.education-box:nth-child(2n+1)::after{
		left:-9.2vw;
	}
	.education-box:nth-child(2n)::after{
		right:80vw;
	}	
}
#time-traveller{
	position: sticky;
	z-index: 2;
	top: 20%;
	margin-left: -27px;
	color:#001a4d ;
}


/* Education Content */
/* 1-degree name */
.degree{
	color:blue;
	font-size: 1.2rem;
	font-weight: bold;
}
/* 2-institute name */
.institute-name{
	color: orange;
	font-size: 1rem;
}
/* 3-time period */
.period{
	color:darkslategray;
}
/* 4-performance */
.performance {
	color:darkslategray;
}


/* Portfolio */
.portfolio-images{
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}
.portfolio-images img{
	width: 28%;
	height: 28%;
	padding: 0.5rem;
	margin: 0.5rem;
	box-shadow: 1px 1px 2px 1px dimgray;
	border-radius: 2%;
	transition: 0.6s;
}
.portfolio-images img:hover{
	height: 33%;
	width: 33%;
}
@media screen and (max-width:900px){
	.portfolio-images{
		display:flex;
		flex-direction: row;
		justify-content: space-around;	
}
	.portfolio-images img{
		width: 40%;
		height: 40%;
	}
	.portfolio-images img:hover{
		height: 45%;
		width: 45%;
	}
}
@media screen and (max-width:700px){
	.portfolio-images{
		display:flex;
		flex-direction: column;
  		align-items: center;	
	}
	.portfolio-images img{
		width: 70%;
		height: 70%;
	}
	.portfolio-images img:hover{
		height: 75%;
		width: 75%;
	}
}


/* contact */
form input{
    display:flex;
    flex-direction:column;
    margin:20px;
	padding:10px;
    width:20rem;
    font-size:1rem;
   border-style: hidden hidden solid hidden;
    border-color:white;
    background-color: transparent;
}
button{
  color:white;
    padding:8px;
    border-color:white;
    background-color: transparent;
    margin-left:8rem;
}
#form{
margin: 2rem;
}
#aside-section{
margin: 2rem 2rem 2rem 8rem;
color: white;
font-style: italic;
}
#contact-container{
	display: flex;
	flex-direction: row;
	flex-wrap:wrap;
	justify-content: space-between;
}
#contact{
    background:linear-gradient(to top right,#322767,#448bc1);
}
#contact #social-links{
margin: 2rem;
}
#address{
	font-size: 2rem;
	font-style: normal;
}